<div class="resume">
    <div class="personalInfo">
      <h1>John Doe</h1>
      <address>750 Shipyard Drive<br>Wilmington DE (123) 456-7891<br>jdoe@email.com</address>
    </div>
    
    <div class="summary">
      <h2>Summary</h2>
      <p>Personable and organized Banker with 6+ years of experience matching
  customers with suitable account solutions and consistently surpassing quotas
  for new checking, savings, and credit card accounts.
      </p>
    </div>
    
    <div class="education">
      <h2>Education</h2>
      <p>UNIVERSITY OF CHICAGO <span class="educationDates">09/09 - 12/13</span><br />
        Bachelor of Arts, Finance
      </p>
    </div>
    
    <div class="experience">
      <h2>Experience</h2>
      <p>TRADELOT, Banker <span class="employmentDates">01/14 - Present</span></p>
       <ul>
         <li></li>

       </ul>
    </div>
  </div>