.container {
  margin-top: 2em;
  padding: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  background-color: white;
  border-radius: 15px;
}

main h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

main p {
  margin-bottom: 15px;
}

footer {
  background-color: #333;
  padding: 10px;
  color: #fff;
  display: flexbox;
  justify-content: center;
  width:auto
}

footer p {
  margin: 0;
  font-size: 14px;
  text-align: center;
}