<p>payment works!</p>
<div class="payment-container">
    <h2>Payment Information</h2>
  
    <!-- <form [formGroup]="paymentForm" (ngSubmit)="submitPayment()">
      <div class="form-group">
        <label for="cardNumber">Card Number</label>
        <input type="text" id="cardNumber" formControlName="cardNumber" placeholder="Enter card number">
        <div *ngIf="paymentForm?.get('cardNumber')?.invalid && paymentForm?.get('cardNumber')?.touched" class="error-message">
            Card number is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="expiryDate">Expiry Date</label>
        <input type="text" id="expiryDate" formControlName="expiryDate" placeholder="MM/YY">
        <div *ngIf="paymentForm?.get('expiryDate')?.invalid && paymentForm?.get('expiryDate')?.touched" class="error-message">
            Expiry date is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="cvv">CVV</label>
        <input type="text" id="cvv" formControlName="cvv" placeholder="Enter CVV">
        <div *ngIf="paymentForm?.get('cvv')?.invalid && paymentForm?.get('cvv')?.touched" class="error-message">
            CVV is required
        </div>
      </div>
  
      <button type="submit" [disabled]="paymentForm.invalid">Submit Payment</button>
    </form> -->
  </div>
  