@import 'node_modules/ngx-toastr/toastr.css';


/* General formatting */ 
html, body {
    box-sizing: border-box;
    background-color: white;
    height: 100vh;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: rgb(61, 80, 225);
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Icons formatting */ 
.icon-small{
    margin-left: 10px;
    width: 15px;
    height: 15px;
}

#table-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

#filter-box-name{
  margin: 1em;
}


/* Tables formatting */ 
table{
    max-width: 90%;

      border-radius: 15px;
    
}

table tr:nth-child(odd) {
  background-color: rgb(244, 244, 244);
}

th{
    padding: 0.5rem 1rem;
    background-color: #cccccc;
}

thead{
    background-color: rgb(224, 224, 224);
    color:black;
    cursor: pointer;
    margin:1em;
}

table{
    background-color: white;
}

td{
    min-width: 100px;
}

.table-row{
    border: rgb(0, 0, 0) !important;
}

.table-row:hover{
    background-color: rgb(150, 150, 150);
}

/* Error message formatting  */
.has-error{
    border: 1px solid red;
    width: 100%;
    background-color: rgba(191, 5, 5, 0.2);
    text-align: center;
    color: red;
    padding:1em;
    margin:2em !important;
}


/* Animated background  */
.bg {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-size: 300% 300%;
    background-image: linear-gradient(-45deg, rgb(0, 0, 0) 0%, rgb(203, 203, 203) 25%, rgb(255, 255, 255) 51%, #000000 100%);
    -webkit-animation: AnimateBG 20s ease infinite;
            animation: AnimateBG 20s ease infinite;
  }
  
  @-webkit-keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes AnimateBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  footer {
    background-color: #333;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
  }
  
  footer p {
    margin: 0;
    font-size: 14px;
    text-align: center;
  }

  table {
    max-width: 90%;
    border-radius: 15px;
  }
  th {
    padding: 0.5rem 1rem;
    background-color: #cccccc;
  }

  th:hover{
    color: #0072f4cb;
  }
  
  th:first-child {
    border-radius: 15px 0 0 0;
  }
  
  th:last-child {
    border-radius: 0 15px 0 0;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


table tr {
  border-bottom: 1px solid  lightgrey;
}