<div id="table-container">
  <div class="filter-box-container">
    <filter-textbox
      id="filter-box-name"
      (changed)="filter($event)"
    ></filter-textbox>

  </div>
  <br />
  <br />

  <table class="table table-hover" id="customers-table">
    <thead>
      <tr>
        <th (click)="sort('id')">
          ID
          <img
            class="icon-small"
            src="assets/icons/sort.png"
            alt="Sort alphabetically"
          />
        </th>
        <th (click)="sort('fName')">
          First Name
          <img
            class="icon-small"
            src="assets/icons/sort.png"
            alt="Sort alphabetically"
          />
        </th>
        <th (click)="sort('lName')">
          Last Name
          <img
            class="icon-small"
            src="assets/icons/sort.png"
            alt="Sort alphabetically"
          />
        </th>
        <th (click)="sort('phoneNum')">
          Phone Number
          <img
            class="icon-small"
            src="assets/icons/sort.png"
            alt="Sort alphabetically"
          />
        </th>
        <th (click)="sort('shippingAddress')">
          Shipping Address
          <img
            class="icon-small"
            src="assets/icons/sort.png"
            alt="Sort alphabetically"
          />
        </th>
        <th (click)="sort('email')">
          E-mail
          <img
            class="icon-small"
            src="assets/icons/sort.png"
            alt="Sort alphabetically"
          />
        </th>

      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let cust of filteredCustomers">
        <td style="text-align: center;">
          
          <a [routerLink]="['/orders', cust.customerId]">{{ cust.customerId }}</a>
        </td>
        <td style="text-align: center;">{{ cust.fName }}</td>
        <td style="text-align: center;">{{ cust.lName }}</td>
        <td style="text-align: center;">{{ cust.phoneNum | phoneNumberFormat  }}</td>
        <td style="text-align: center;"><i>{{ cust.shippingAddress }}</i></td>
        <td style="text-align: center;">{{ cust.email }}</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>

      </tr>
    </tbody>
  </table>
  <p><b>Number of Customers: {{ filteredCustomers.length }}</b></p>

  <div *ngIf="!filteredCustomers || !filteredCustomers.length">
    <p>No customers found</p>
  </div>
</div>
