p{
    color: #0072f4cb;


}

button{
    border-radius: 50%;
    color: white;
    background-color: #0072f4cb;
        border: none;
        margin: 0.5em;
        cursor: pointer;
        width: 25px;
        height: 25px;
        
    
}

.mat-mdc-dialog-container.mdc-dialog.cdk-dialog-container.mdc-dialog--open{
    padding:2em;
    background-color: white;
    color: white;
    background-color: #0072f4cb;

}

h1{
    text-align: center;
    margin-top: 2em;
    color:white;
    margin:.2em;
}

popup-container{
    background-color:white;
}
