<div class="container">
  <div class="form-container">
    <img src="../../assets/images/logo.png" alt="logo" class="logo" width="250px"/>
    <h1>SHOP MANAGEMENT TOOL</h1>
    <h3>LOGIN</h3>

    <form (ngSubmit)="login()">
      <br />
      <div class="input-field">
        <label for="email" id="emailLabel">Email:</label>
        <input type="text" id="email" name="email" [(ngModel)]="email" placeholder="supplier@example.com"/>

        <div class="error-row" *ngIf="!isEmailValidSyntax() && email !== ''">
          <p class="has-error">Email is invalid!</p>
        </div>

        <div class="button">
          <button type="submit">Login</button>
        </div>
      </div>
    </form>
    <div class="list-of-dummy-suppliers">
      <h4> List of dummies suppliers</h4>
      <ul>
        <li>
          supplier@example.com
          http://localhost:4200/customers?customerId=120,121,122,123,124,125,126,127
        </li>
        <li>
          supplier2@example.com
        </li>
      </ul>
    </div>
  
  </div>



