.customer-form {
  display: table;
  margin: 0 auto;
}

label {
  display: table-cell;
  padding-right: 10px;
  text-align: right;
}

input {
  display: table-cell;
}

button {
  margin: 1em 0;
}
h2 {
  text-align: center;
  margin-top: 1em;
  text-shadow: white 0px 0px 10px;
}

input {
  padding: 0.5em;
  height: 15px;
  border-radius: 15px;
  text-align: center;
}




label{
  margin-top:1em;
}

h3{
  text-align: center;
  margin-top:.5em;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  color: white;
}

h2 {
  color:blue;
  text-align: center;
  margin-top: 1em;
  text-shadow: white 0px 0px 10px;
}

input {
  padding: 0.5em;
  height: 12px;
  border-radius: 15px;
  text-align: center;
}

label{
  margin-top:1em;
}


h3{
  text-align: center;
  margin-top:.5em;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  color: white;
}

h2 {
  text-align: center;
  margin-top: 1em;
  text-shadow: white 0px 0px 10px;
}

button{
  margin-top:1em;
  border-radius:15px;
  border: 1px solid #0072f4cb;

  font-weight: bold;
  background-color: #0072f4cb;
  color:white;
}

button:hover{
  color: #0072f4cb;
  background-color: white;
  border: 1px solid #0072f4cb;
}