html, body {
  height: 100vh;
}

.navbar {
  height: 100%;
}

.table-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .filter-reset-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 10px;
    margin: 1em;
    border: none;
    position: relative;
    left: 150px;
  }
  
  .filter-reset-btn:hover::after {
    content: "RESET THE FILTER";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
  }

  .list-of-dummy-customers{

    margin-top:1em;
    color:grey;
    border: 1px solid grey;
    background-color: white;
    border-radius: 10px;
    padding:1em;
  
  }
  
  .list-of-dummy-customers h4{
    font-size:.8em;
    margin-bottom:0;
  }
  
  .list-of-dummy-customers ul{
    margin-top:0;
    font-size:.7em;
  }
  
  h2 {
    text-align: center;
    margin-top: 2em;
    text-shadow: white 0px 0px 10px;
    color:  #0072f4cb;
  }
  
  input {
    padding: 0.5em;
    height: 15px;
    border-radius: 15px;
    text-align: center;
  }
  
  
  
  
  label{
    margin-top:1em;
  }


  h3{
    text-align: center;
    margin-top:.5em;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    color: white;
  }

  table tr {
    border-bottom: 1px solid  lightgrey;
  }

  td{
    text-align: center;
  }

 