<h3>Shop management tool</h3>
<h1>Complete customers List</h1>
<div class="table-container">
<button class="filter-reset-btn" (click)="reloadPage()">X</button>

<app-customers-list [customers]="customers" [filteredCustomers]="filteredCustomers"></app-customers-list>

<div class="list-of-dummy-customers">
    <h4> List of dummies customers</h4>
    <ul>
      <li>
        http://localhost:4200/customers?customerId=120,121,122,123,124,125,126,127
      </li>
    </ul>
    <h4> List of dummies orders</h4>
    <ul>
      <li>
        http://localhost:4200/customers?customerId=120,121,122,123,124,125,126,127
      </li>
    </ul>
    <h4> List of dummies orders</h4>
    <ul>
      <li>
        http://localhost:4200/orders/158
        http://localhost:4200/orders/120
          </li>
    </ul>

</div> 

</div>