.orders-table {
    margin-top: 20px;
}

.table-order{
    text-align: center;
}


.container
{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

td{
    min-width: auto;

}

.google-maps-container{
    margin:2em;
    background-color: rgb(63, 63, 63);
    color:white;
    padding:2em;

}

.order-row {
    cursor: pointer;
  }
  
  .order-row:hover {
    background-color: #abaaaa;
  }
  
  .expanded {
    background-color: #f5f5f5;
  }

  .expand-btn{
    background-color: #0072f4cb;
    color: white;
    border-radius: 50%;
    border:none;
    width:25px;
    height:25px;
    padding:0;
  }
  
  .sub-category-cell {
    text-align: center;
  }
  .sub{
    background-color: lightgrey;
  }
  .light{
    background-color: #f5f5f5;
  }
  h2 {
    text-align: center;
    margin-top: 2em;
    text-shadow: white 0px 0px 10px;
  }
  
  input {
    padding: 0.5em;
    height: 15px;
    border-radius: 15px;
    text-align: center;
  }
  
  
  
  
  label{
    margin-top:1em;
  }
  h2 {
    text-align: center;
    margin-top: 2em;
    text-shadow: white 0px 0px 10px;
    color:  #0072f4cb;

  }
  
  
h3{
  text-align: center;
  margin-top:.5em;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  color: white;
}

.image-button{
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  background-image: url('../../assets/images/map.png');
  background-size: cover;
  border:none;

}
.image-button:hover{
  border: 1px solid #0072f4cb;
}

#image-button-label{
  color:#0072f4cb;
}

#image-button-label:hover{
  color:white;
}

table {
  border-collapse: collapse;
}

table tr:last-child {
  border-radius: 0 0 10px 10px;
}


table tr {
  border-bottom: 1px solid  lightgrey;
}